body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px; /* Taille de police de base pour le corps du document */
}

.timer-container {
    text-align: center;
    max-width: 400px; /* Largeur maximale de votre application */
    margin: 0 auto; /* Centre l'application horizontalement */
    padding: 10px; /* Ajoute un peu d'espace autour de votre application */
}

.timer-container img {
    width: 100%; /* Ajustez la largeur de l'image selon vos besoins */
}

.timer {
    font-size: 4em; /* Taille de police pour le cadran numérique */
    margin: 15px 0;
}

.pad {
    margin-bottom: 10px;
    text-align: center; /* Centrer le contenu horizontalement */
}

.pad button {
    font-size: 2em; /* Taille de police pour les boutons du pad */
    padding: 15px; /* Ajoute un peu d'espace autour des boutons du pad */
    cursor: pointer;
    margin: 10px; /* Espacement entre les boutons du pad */
}

.timer-controls {
    display: flex;
    justify-content: space-between;
}

#startStopBtn {
    font-size: 1.2em; /* Taille de police pour les boutons Start et Reset */
    background-color: green;
    color: white;
    padding: 10px 20px;
}

#startStopBtn.stop {
    background-color: red;
    color: white;
}

h1 {
    font-size: 2em; /* Taille du titre ajustée pour l'adaptabilité */
}

button.green {
    background-color: limegreen;
}

button.red {
    background-color: tomato;
    color: white;
}

#app-container {
    transition: background-color 1s ease; /* Ajout de cette ligne pour la transition de couleur de fond */
}
